################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Builds/*
/packages/*
/include/shaders/*.h
/SKIF.vcxproj.user
*.tlog
*.pdb
/resources/shaders/imgui_pix.h
