################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Builds/*
/packages/*
/include/shaders/*.h
/SKIF.vcxproj.user
*.tlog
*.pdb
/resources/shaders/imgui_pix.h
/resources/shaders/imgui_vtx.h
/steam_appid.txt
/include/imgui_old/*
/src/imgui_old/*