<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="directxtex_desktop_2019" version="2023.4.28.1" targetFramework="native" />
  <package id="nlohmann.json" version="3.11.2" targetFramework="native" />
  <package id="plog" version="1.1.9" targetFramework="native" />
  <package id="pugixml" version="1.13.0" targetFramework="native" />
</packages>